<div class="auth-container d-flex justify-content-center align-items-center">
    <div class="reset-password-box">
        <h3 class="text-center text-success mb-3">🔒 استعادة كلمة المرور</h3>
        <p class="text-center text-muted">أدخل بريدك الإلكتروني وسنرسل لك رابطًا لإعادة تعيين كلمة المرور.</p>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="form">
            
            
            <!-- Error message -->
            <div *ngIf="errorMessage" class="alert alert-danger text-center">
                {{ errorMessage }}
            </div>

            <!-- Success message -->
            <div *ngIf="successMessage" class="alert alert-success text-center">
                {{ successMessage }}
            </div>

            <!-- Email Field -->
            <div class="form-group">
                <label for="email" class="form-label">📧 البريد الإلكتروني <span class="text-success">*</span></label>
                <input id="email" type="email" formControlName="email" class="form-control form-control-lg"
                    placeholder="example@gmail.com" />
            </div>


            <!-- Submit Button -->
            <div class="d-flex flex-column align-items-center mt-4">
                <!-- <button type="submit" class="btn btn-success w-100 py-2" [disabled]="forgotPasswordForm.invalid">
                    ✉️ إرسال رابط إعادة تعيين
                </button> -->
                <button type="submit" class="btn btn-success w-100 py-2" [disabled]="forgotPasswordForm.invalid || isLoading">
                    <!-- نص الزر عند التحميل -->
                    <ng-container *ngIf="!isLoading">
                      ✉️ إرسال رابط إعادة تعيين
                    </ng-container>
                    <!-- الـ spinner يظهر عندما يكون isLoading = true -->
                    <div *ngIf="isLoading" class="spinner-border spinner-border-sm text-white" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </button>
                  
                <button type="button" class="btn btn-outline-secondary w-100 mt-2 py-2" [routerLink]="'/login'">
                    🔙 العودة إلى تسجيل الدخول
                </button>
            </div>
        </form>
    </div>
</div>
