.auth-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #d8f5d5, #ffffff);
}

.reset-password-box {
    width: 400px;
    padding: 30px;
    background: #ffffff;
    border-radius: 12px;
    border: 1px solid green;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    color: #333;
}

.form-control {
    border-radius: 8px;
    border: 1px solid #ced4da;
    padding: 12px;
    font-size: 16px;
}

.btn {
    font-size: 16px;
    border-radius: 8px;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-secondary {
    border-color: #6c757d;
    color: #6c757d;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: #fff;
}

.alert {
    font-size: 14px;
    padding: 10px;
    border-radius: 6px;
}


@media (max-width:768px){
    .reset-password-box {
        width: 90%;
    }
}