<div class="w-100 parent pt-5">
    <div class="product-details mb-5">
        <div class="product-info">
            <img src="../../../assets/c2741a1e-08de-4888-8a00-febbb8bd3324.jpg" alt="منتج شاي الصعيد"
                class="product-image">
            <h2 class="product-title">{{product.name}}</h2>
            <p class="product-description">{{product.description}}</p>
        </div>

        <div class="product-size">
            <h3>اختر الحجم:</h3>
            <select [(ngModel)]="selectedSize" (change)="updatePrice()" class="size-select">
                <option *ngFor="let productDetail of product.details" [value]="productDetail.id">
                    {{productDetail.weight}} مللي
                </option>
            </select>
        </div>

        <div class="my-2">
            <h3>سعر المنتج:</h3>
            <div class="text-center">
                <p class="fs-5">{{selectedPrice}} دينار كويتي</p>
            </div>
        </div>


        <div class="product-rating">
            <h3>تقييم المنتج:</h3>
            <div class="stars">
                <i class="fa fa-star star" *ngFor="let star of stars; let i = index"
                    [ngClass]="{'active': i < selectedRating}" (click)="setRating(i + 1)">
                </i>
            </div>
        </div>

        <div class="product-comment">
            <h3>أضف تعليقك:</h3>
            <textarea [(ngModel)]="userComment" placeholder="اكتب تعليقك هنا..." class="comment-text"></textarea>
        </div>

        <button class="add-to-cart-btn" (click)="addToCart()">
            <div *ngIf="isAddingToCart" class="spinner-border spinner-border-sm me-2" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            أضف إلى السلة

        </button>
    </div>
</div>