video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    /* يغطي كامل الشاشة */
}

.nav-link:hover {
    color: rgb(207, 207, 207) !important;
    // color: rgb(206, 17, 17) !important;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.3);
}



.parent {
    height: 100%;
    /* أو أي ارتفاع مناسب */
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}



.bold {
    font-weight: bold;
    color: #6db741;
}

.home {
    // background-image: url(../../../assets/10-01.png);
    // background-image: url(../../../assets/10-01.png);
    background-position: center;
    /* لضمان تمركز الصورة */
    background-size: cover;
    /* تمدد الصورة لتناسب العنصر بالكامل */
    background-repeat: no-repeat;
    /* لا تكرار للصورة */
    height: 100vh;
}


nav {
    z-index: 5;
}



.content {
    position: absolute;
    display: flex;
    /* يجعل المحتوى داخله مرنًا */
    flex-direction: column;
    /* يجعل النصوص والأزرار في عمود */
    justify-content: center;
    /* يحاذي المحتوى عموديًا */
    align-items: center;
    /* يحاذي المحتوى أفقيًا */
    text-align: center;
    color: white;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    left: 68%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    /* يضمن أن النصوص لا تتجاوز الشاشة */
}




.logo {
    width: 70px;
    height: 70px;

}





/* للشاشات الصغيرة جدًا (الموبايلات) */
@media (max-width: 576px) {
    h1 {
        font-size: 1rem;
        /* تقليل حجم الخط */
    }

    .content {
        padding: 10px;
        /* تقليل المسافة الداخلية */
        max-width: 90%;
        left: 50%;

    }

    button {
        font-size: 1.2rem;
        /* تصغير حجم الأزرار */
        // padding: 10px 20px;
    }
}

/* للشاشات المتوسطة (تابلت) */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .content {
        padding: 8px;
        width: 50%;
        left: 50%;
    }

    button {
        font-size: 1.2rem;
        // padding: 12px 22px;
    }
}

/* للشاشات الكبيرة (ديسكتوب) */
@media (min-width: 769px) {
    h1 {
        font-size: 3rem;
    }

    .content {
        padding: 20px;
    }

    .setPadding {
        padding: 0px 70px;
    }
}







.nav-item {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    /* أسفل الأيقونة */
    left: -50%;
    // right:0; /* محاذاة لليمين */
    // min-width: 100px;
    z-index: 10;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

.dropdown-menu a {
    text-decoration: none;
    color: inherit;
    /* لتحافظ على لون النص الحالي */
}

.dropdown-menu a:hover {
    text-decoration: underline;
    /* إذا أردت خطًا عند التحويم */
}


.nav-item:hover .dropdown-menu {
    display: block;
    opacity: 1;
}


.dropdown-item {
    color: inherit;
    /* استخدام اللون الحالي للنص */
    text-decoration: none;
    /* إزالة الخط السفلي */
}

.dropdown-item:focus,
.dropdown-item:active {
    color: inherit;
    /* إزالة اللون الأزرق */
    background-color: #15ce40;
    /* منع تغيير الخلفية */
    outline: none;
    /* إزالة الإطار */
}

















.splide__slide img {
    width: 100%; /* تضمن أن الصور تمتد لملء الكاروسيل */
    height: auto; /* للحفاظ على النسب */
    object-fit: cover; /* تقطع أو تمدد الصورة بشكل أنيق */
  }
  
  



.product-page {
    // font-family: Arial, sans-serif;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: white;
}

// .col-md-6 {
//     height: 550px;
//     min-height: 300px;
// }

// .col-md-12 {
//     height: 270px;
//     max-height: 270px;
// }

.greenBtn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
}

.greenBtn:hover {
    background-color: #218838;
}


// .coverIcon {
//     width: 2.3em;
//     height: 2.3em;
//     border-radius: 8px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border: 1px solid rgb(0, 65, 0);
//     cursor: pointer;
//     // transition: background 3s ease-in;
// }


// .coverIcon:hover {
//     background: linear-gradient(to right, rgb(119, 253, 119), rgb(0, 95, 40));
// }













// .image-container {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     align-items: center;
//     width: 100%;
//     height: 100%;
//     gap: 20px;
//     /* المسافة بين الأعمدة */
//     row-gap: 20px;
//     /* المسافة بين الصفوف */
// }








.vlog {
    background-color: white;
    // padding: 20px;
}


.video-container {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    background-color: black;
}




.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* يجعل الفيديو يملأ الشاشة */
    z-index: 1;
    /* لضمان أن الفيديو في الخلفية */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* خلفية سوداء شفافة */
    z-index: 2;
}













@media (max-width: 768px) {
    .background-video {
        object-fit: contain;
        /* يحافظ على عرض الفيديو بالكامل مع تقليل الحجم */
    }
}





/* تغيير السهم السابق إلى اللون الأخضر */
/* تغيير السهم السابق إلى اللون الأخضر #28a745 */
.carousel-control-prev-icon {
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%2328a745"%3e%3cpath d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/%3e%3c/svg%3e');
}

/* تغيير السهم التالي إلى اللون الأخضر #28a745 */
.carousel-control-next-icon {
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%2328a745"%3e%3cpath d="M4.646 1.646a.5.5 0 0 1 0 .708L10.293 8 4.646 13.646a.5.5 0 0 1 .708.708l6-6a.5.5 0 0 1 0-.708l-6-6a.5.5 0 0 1-.708 0z"/%3e%3c/svg%3e');
}


.carousel {
    width: 50%;
}

@media (max-width: 768px) {



    .carousel {
        width: 100%;
    }

}














































.container-homePage {
    background-image: url('../../../assets/c2741a1e-08de-4888-8a00-febbb8bd3324.jpg');
    // background-image: url('../../../assets/77-01.png');
    height: 100vh;
    overflow: auto;
}









// .splide__slide img {
//     visibility: visible !important;
//     opacity: 1 !important;
//   }
//   .splide__slide img {
//     width: 100%;
//     height: auto;
//   }
    

  .splide__slide img {
    width: 95%;
    height: 100%;
    object-fit: cover; /* هذا يضمن أن الصورة ستملأ العنصر دون تشويه */
  }

  .splide__list {
    display: flex;
    justify-content: center;
    gap: 10px; /* لضمان وجود مسافة بين الصور */
  }

  .splide__slide img {
    object-fit: cover; /* يملأ الصورة الحجم المحدد بدون تشويه */
    object-position: center; /* يحدد المكان الذي ستظهر فيه الصورة */
    margin: auto;
  }
  .splide__track {
    // height: 550px; /* يمكنك تغيير الارتفاع حسب احتياجاتك */
    overflow: hidden; /* هذا يضمن أن الصور لا تتجاوز الحواف */
  }
          









@media (max-width:768px) {
    .splide__slide img {
        width: 98%;
        height: 100%;
        object-fit: cover; /* هذا يضمن أن الصورة ستملأ العنصر دون تشويه */
      }
    
      .splide__list {
        gap: 2px; /* لضمان وجود مسافة بين الصور */
      }
}






























































.footer {
    width: 100%;
    background-color: #044223;
    /* لون خلفية الفوتر */
    color: rgb(224, 226, 219);
    // color: rgb(223, 223, 223);
    padding: 40px 20px;
    /* المسافات داخل الفوتر */
    text-align: center;
    background-image: url('../../../assets/jaikishan-patel-UmKPjLUyUXU-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer p {
    font-size: 16px;
    margin: 10px 0;
    line-height: 1.6;
}

.footer .details {
    margin-top: 20px;
    font-size: 16px;
    color: #ddd;
    padding: 0 30px;
    text-align: justify;
}

.footer .contact-info {
    margin-top: 30px;
    font-size: 16px;
    color: #ddd;
}

.footer .contact-info p {
    margin: 5px 0;
}

.footer .contact-info span {
    font-weight: bold;
}