video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.nav-link:hover {
    color: rgb(207, 207, 207) !important;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.3);
}

.parent {
    height: 100%;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.bold {
    font-weight: bold;
    color: #6db741;
}

.home {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

nav {
    z-index: 5;
}

.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    left: 68%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
}

.logo {
    width: 70px;
    height: 70px;
}

@media (max-width: 576px) {
    h1 {
        font-size: 1rem;
    }

    .content {
        padding: 10px;
        width: 90%;
        max-width: 90%;
        left: 50%;

    }

    button {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.7rem;
    }

    .content {
        padding: 8px;
        width: 60%;
        left: 50%;
    }

    button {
        font-size: 1.2rem;
    }
}

@media (min-width: 769px) {
    h1 {
        font-size: 3rem;
    }

    .content {
        padding: 20px;
    }

    .setPadding {
        padding: 0px 70px;
    }
}


.nav-item {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -50%;
    z-index: 10;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    direction: rtl;
    text-align: right;
}

.dropdown-menu a {
    text-decoration: none;
    color: inherit;
}

.dropdown-menu a:hover {
    text-decoration: underline;
}


.nav-item:hover .dropdown-menu {
    display: block;
    opacity: 1;
}


.dropdown-item {
    color: inherit;
    text-decoration: none;
}

.dropdown-item:focus,
.dropdown-item:active {
    color: inherit;
    background-color: #15ce40;
    outline: none;
}

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-page {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: white;
}



.greenBtn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
}

.greenBtn:hover {
    background-color: #218838;
}



.vlog {
    background-color: white;
}

.video-container {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    // background-color: black;
    background-color: rgb(255, 255, 255);
}




.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}



@media (max-width: 768px) {
    .background-video {
        object-fit: cover;
    }

    .video-container {
        height: 20vh;
        overflow: hidden;
        background-color: white;
    }
}




.carousel-control-prev-icon {
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%2328a745"%3e%3cpath d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/%3e%3c/svg%3e');
}

.carousel-control-next-icon {
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%2328a745"%3e%3cpath d="M4.646 1.646a.5.5 0 0 1 0 .708L10.293 8 4.646 13.646a.5.5 0 0 1 .708.708l6-6a.5.5 0 0 1 0-.708l-6-6a.5.5 0 0 1-.708 0z"/%3e%3c/svg%3e');
}


.carousel {
    width: 50%;
}

@media (max-width: 768px) {

    .carousel {
        width: 100%;
    }

}


.container-homePage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
    position: relative;
}


.splide__slide img {
    width: 95%;
    height: 100%;
    object-fit: cover;
}

.splide__list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.splide__slide img {
    object-fit: cover;
    object-position: center;
    margin: auto;
}

.splide__track {
    overflow: hidden;
}

.splide {
    padding: 1em;
}


.h-350 {
    height: 600px !important;
    overflow: hidden !important;
}

.h-350 img {
    height: 100% !important;
    width: 90% !important;
    margin: auto;
}

.fs {
    font-size: 20px;
}


@media (max-width:768px) {
    .splide__slide img {
        width: 98%;
        height: 100%;
        object-fit: cover;
    }

    .h-350 {
        height: 400px !important;
        overflow: hidden !important;
    }

    .splide__list {
        gap: 2px;
    }

    .fs {
        font-size: 15px;
    }

}


.carousel {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel-item {
    height: 300px;
    text-align: center;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-img {
    max-width: 65px;
    height: auto;
}


li.nav-item::marker {
    content: none;
}


.dropdown-menu {
    width: auto;
    min-width: 150px;
}

.dropdown-item {
    white-space: nowrap;
}


@media (max-width:768px) {
    .dropdown-menu {
        left: -30%;
        min-width: 130px;
    }

}



.navbar-toggler {
    font-size: 18px;
}



.details,
.contact-info {
    padding: 10px;
}

.contact-info {
    color: white;
}


.padtop {
    padding-top: 150px;
}


.footer {
    position: relative;
    width: 100%;
    background-image: url('../../../assets/30-02.png');
    background-size: cover;
    background-position: top left center;
    background-repeat: no-repeat;
    padding: 40px 0;
    color: white;
    text-align: center;
    margin-top: 50px;
    background-attachment: scroll;
    height: auto;
}

@media screen and (min-width: 1025px) {
    .footer {
        background-image: url('../../../assets/30-01.png');
        // background-image: url('../../../assets/00.png');
    }
}


@media (max-width: 768px) {

    .padtop {
        padding-top: 220px;
    }

}

.footer-content .about,
.footer-content .shipping,
.footer-content .message {
    margin-bottom: 30px;
}


/* إخفاء النقاط من القوائم */
.navbar-nav {
    list-style-type: none !important;
    /* إزالة النقاط */
    padding-left: 0;
    /* إزالة المسافة الداخلية */
}


ul,
ol {
    list-style-type: none;
    /* إخفاء النقاط */
    padding-left: 0;
    /* إزالة المسافة الافتراضية من الجهة اليسرى */
    list-style: none !important;

}

ul {
    list-style: none !important; /* إزالة النقاط */
    padding: 0; /* إزالة المسافات الداخلية */
    margin: 0; /* إزالة المسافات الخارجية */
}

li {
    list-style-type: none !important; /* تأكيد إزالة النقاط */
    padding: 0;
    margin: 0;
}
