<div class="position-relative home" id="home">
    <nav class="navbar navbar-expand-lg position-fixed w-100 navbar">
        <div class="container-fluid setPadding">
            <div class=" d-flex justify-content-center align-items-center">
                <div class="logo">
                    <img src="../../../assets/logo.png" class="w-100" alt="">
                </div>
                <a class="navbar-brand fs-4 text-white ms-3" routerLink="/home">شاي الصعيد</a>
            </div>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center align-items-center">
                    <li class="nav-item">
                        <a class=" nav-link fs-5 text-white" routerLinkActive="active-link" routerLink="/home">الصفحه الرئيسيه</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class=" nav-link fs-5 text-white" routerLinkActive="active-link" [routerLink]="" fragment="view-product">عرض المنتج</a>
                    </li>
                    <li class="nav-item">
                        <a class=" nav-link fs-5 text-white" routerLinkActive="active-link" [routerLink]="" fragment="shop">تسوق</a>
                    </li> -->
                    <li class="nav-item">
                        <i class="nav-link fa-solid fa-cart-shopping fs-5 text-white" routerLinkActive="active-link" routerLink="/cart"></i>
                    </li>
                    <!-- <li class="nav-item">
                        <i class=" nav-link fa-solid fa-user fs-5 text-white" routerLinkActive="active-link" routerLink="/login"></i>
                    </li> -->
                    <li class="nav-item position-relative">
                        <i 
                            class="nav-link fa-solid fa-user fs-5 text-white" 
                            routerLinkActive="active-link" 
                            routerLink="/login"></i>
                        <!-- Dropdown Menu -->
                        <div class="dropdown-menu shadow-sm bg-white text-dark p-3 rounded">
                            <p class="fw-bold fs-5 mb-2">أحمد محمد</p>
                            <a 
                                class="dropdown-item  fw-semibold  px-2 rounded" 
                                (click)="signIn()">
                                Sign In
                            </a>
                            <a 
                                class="dropdown-item  fw-semibold  px-2 rounded mb-2" 
                                (click)="signOut()">
                                Sign Out
                            </a>
                        </div>
                        
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    

    <video src="../../../assets/WhatsApp Video 2025-01-12 at 4.07.05 AM.mp4" autoplay
        loop muted playsinline></video>


    <div class="position-relative parent"> <!-- هذا العنصر الأب لـ .content -->
        <div class="position-absolute content ">
            <h1 class="text-white pb-0 mb-3">استمتع بنكهة أصيلة، <span class="bold d-block">شاي الصعيد</span> هو اختيارك المثالي للراحة والدفء.</h1>
            <button class="btn my-1">اشتر الان</button>
        </div>
    </div>
</div>




















    <!-- <video src="../../../assets/4783455_tea_cup_of_tea_pot_of_tea_23051902Britishness4k0071080p12000br.mp4" autoplay
        loop muted playsinline></video> -->

        <!-- <img src="" alt=""> -->



