<section class="container-homePage pb-0 mb-0">



    <section class="position-relative home " id="home">
        <nav class="navbar navbar-expand-lg position-fixed w-100 navbar d-none d-lg-block ">
            <div class="container-fluid setPadding">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="logo" [routerLink]="'/home'" role="button">
                        <img src="./assets/logo.png" class="w-100" alt="">
                    </div>
                    <a class="navbar-brand fs-4 text-white ms-3" routerLink="/home">شاي الصعيد</a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center align-items-center">
                        <li class="nav-item">
                            <a class="nav-link fs-5 text-white" routerLinkActive="active-link" routerLink="/home">الصفحه
                                الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-5 text-white" routerLinkActive="active-link"
                                routerLink="/allorders">طلباتي السابقه</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-5 text-white" routerLinkActive="active-link"
                                routerLink="/about">حول</a>
                        </li>


                        <li class="nav-item">
                            <i class="nav-link fa-solid fa-cart-shopping fs-5 text-white" routerLinkActive="active-link"
                                routerLink="/cart"></i>
                        </li>
                        <li class="nav-item position-relative">
                            <i class="nav-link fa-solid fa-user fs-5 text-white" routerLinkActive="active-link"
                                routerLink="/login"></i>
                            <div class="dropdown-menu shadow-sm bg-white text-dark p-3 rounded">
                                <p class="fw-bold fs-5 mb-2">{{fullName}}</p>
                                <a class="dropdown-item fw-semibold px-2 rounded" (click)="signIn()">تسجيل الدخول</a>
                                <a class="dropdown-item fw-semibold px-2 rounded mb-2" (click)="signOut()">تسجيل
                                    الخروج</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>





        <nav class="navbar navbar-expand-lg d-block d-lg-none position-fixed w-100">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center w-100"
                    style="flex-direction: row-reverse;">
                    <!-- الأيقونات على اليسار (التي كانت في اليمين سابقًا) -->
                    <div class="d-flex align-items-center justify-content-end ">
                        <li class="nav-item ">
                            <i class="nav-link fa-solid fa-cart-shopping fs-5 text-white ms-2" routerLink="/cart"></i>
                        </li>
                        <li class="nav-item position-relative ">
                            <i class="nav-link fa-solid fa-user fs-5 text-white " routerLink="/login"></i>
                            <div class="dropdown-menu bg-white text-dark p-3 w-auto rounded">
                                <p class="fw-bold fs-5 mb-2 p-0 m-0">{{fullName}}</p>
                                <a class="dropdown-item fw-semibold px-2 rounded" (click)="signIn()">تسجيل الدخول</a>
                                <a class="dropdown-item fw-semibold px-2 rounded mb-2" (click)="signOut()">تسجيل
                                    الخروج</a>
                            </div>

                        </li>
                    </div>

                    <!-- الشعار في المنتصف -->
                    <div class="logo d-flex justify-content-center align-items-center w-50" [routerLink]="'/home'"
                        role="button">
                        <p class="p-0 m-0 text-white ">شاي</p>
                        <img src="./assets/logo.png" class="logo-img " alt="Logo">
                        <p class="p-0 m-0 text-white">الصعيد</p>
                    </div>


                    <!-- زر الـ Toggle في اليسار (الذي كان في اليمين سابقًا) -->
                    <button class="navbar-toggler d-flex justify-content-center align-items-center" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa-solid fa-bars text-white p-1 m-0"></i> </button>
                </div>
            </div>

            <!-- قائمة الـ Navbar التي تظهر عند الضغط على زر الـ Toggle -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link fs-5 text-white" routerLinkActive="active-link" routerLink="/home">الصفحه
                            الرئيسية</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5 text-white" routerLinkActive="active-link"
                            routerLink="/allorders">طلباتي السابقه</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5 text-white" routerLinkActive="active-link" routerLink="/about">حول</a>
                    </li>
                </ul>
            </div>
        </nav>


        <!-- <video src="./assets/WhatsApp Video 2025-01-12 at 4.07.05 AM.mp4" autoplay loop muted></video> -->
        <video src="./assets/WhatsApp Video 2025-01-12 at 4.07.05 AM.mp4" autoplay loop muted playsinline
            preload="auto"></video>

        <div class="position-relative parent "> <!-- هذا العنصر الأب لـ .content -->
            <div class="position-absolute content ">
                <h1 class="text-white pb-0 mb-3 ">استمتع بنكهة أصيلة، <span class="bold d-block">شاي الصعيد</span> هو
                    اختيارك
                    المثالي للراحة والدفء.</h1>
                <button class="btn my-1 greenBtn" [routerLink]="'/product-details'"> اشتر الاّن</button>
            </div>
        </div>
    </section>




    <section class="w-100  py-5   bg-white">
        <section class="product-page py-5">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <!-- Carousel Section -->
                    <div class="col-md-7 p-0">
                        <div class="splide" id="image-carousel">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide h-350">
                                        <img src="./assets/black-tea-served-traditional-armudu-glass (1).jpg"
                                            alt="شاي الصعيد 3" class="img-fluid rounded h-100">
                                    </li>
                                    <li class="splide__slide  h-350">
                                        <img src="./assets/front-view-sweet-tea-table-with-glass-armudu-tea (1).jpg"
                                            alt="شاي الصعيد 1" class="img-fluid rounded h-100">
                                    </li>
                                    <li class="splide__slide  h-350">
                                        <img src="./assets/side-view-tea-pouring-into-armudu-glass.jpg"
                                            alt="شاي الصعيد 2" class="img-fluid rounded h-100">
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <!-- Text Section -->
                    <div class="col-md-5 d-flex flex-column justify-content-center align-items-center text-center">
                        <h1 class="text-dark font-weight-bold">شاي الصعيد الفاخر</h1>
                        <p class="fs text-muted">استمتع بنكهة أصيلة مع شاي الصعيد الذي يمنحك راحة واسترخاء في كل كوب.
                            هذا الشاي مصنوع من أجود الأوراق الطبيعية التي تم جمعها بعناية فائقة لضمان تجربة لا مثيل لها.
                        </p>

                        <p class="fs text-muted">كل ورقة من شاي الصعيد تحمل في طياتها تاريخًا طويلًا من العناية
                            والاهتمام في زراعتها، مما يضمن لك أفضل طعم وأعلى جودة في كل كوب. بفضل طريقة التحضير الخاصة،
                            يتم تقديم شاي الصعيد بأفضل نكهة وطعم مميز.</p>

                        <p class="fs-5 text-success mt-3">أفضل جودة بأقل سعر!</p>
                        <p class="fs text-muted">استمتع بشاي طبيعي يضمن لك نكهة مميزة وراحة تامة، سواء كنت تبدأ يومك
                            أو تستمتع بلحظات هادئة في المساء.</p>

                        <button class="btn mt-3 px-4 greenBtn" [routerLink]="'/product-details'">عرض التفاصيل</button>
                    </div>
                </div>
            </div>
        </section>
    </section>





    <section class="vlog ">

        <div class="video-container py-5 ">
            <video autoplay loop muted playsinline preload="auto" class="background-video desktop-video">
                <source src="./assets/Comp 1.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>


            <video autoplay loop muted playsinline preload="auto" class="background-video mobile-video">
                <source src="./assets/Comp 1.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>

            <div class="overlay"></div>
        </div>
    </section>







    <div id="carouselExampleIndicators" class="carousel slide my-5 py-3 m-auto" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let comment of comments; let i = index" [ngClass]="{'active': i === 0}">
                <div
                    class="text-center w-75 p-5 m-auto d-flex align-items-center justify-content-center flex-column h-100">
                    <h3>{{ comment.user.fullName }}</h3>
                    <p>{{ comment.comment }}</p>
                    <div>
                        <span *ngFor="let star of [].constructor(comment.rating)">⭐</span>
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>






    <section class="footer py-5">

        <div class="footer-content row container m-auto justify-content-center align-items-center  padtop">
            <div class="col-md-4 head ">
                <h3>شاي الصعيد</h3>
                <p>أفضل شاي من قلب الصعيد، طعم لا يُنسى</p>
            </div>

            <div class="col-md-8 ">
                <div class="about">
                    <p>شاي الصعيد هو رمز للضيافة والأصالة. مستوحى من الأرض الصعيدية الخصبة، يقدم لك شايًا طبيعيًا ذو
                        نكهة غنية ومميزة. نحن نقدم لك تجربة شاي فريدة، حيث نستخدم أفضل الأوراق المختارة بعناية من
                        الأراضي الصعيدية لنوفر لك أفضل جودة في كل كوب.</p>
                    <p>منذ البداية وحتى آخر رشفة، نحن نحرص على تقديم منتج يواكب أعلى معايير الجودة والذوق الرفيع. سواء
                        كنت تستمتع بمذاقه في صباحك الباكر أو في استراحة قصيرة، شاي الصعيد هو الخيار المثالي لك.</p>
                </div>

                <div class="shipping">
                    <p>نحن نقدم خدمة توصيل سريعة إلى جميع أنحاء جمهورية مصر العربية. يمكنك طلب شاي الصعيد بسهولة وسيتولى
                        فريقنا عملية التوصيل بكل احترافية.</p>
                </div>

                <div class="message">
                    <p>نحن في "شاي الصعيد" نعتبر كل كوب شاي ليس مجرد مشروب بل تجربة حقيقية تمتزج فيها الجودة والذوق.
                        دعونا نكون جزءًا من لحظاتك اليومية التي تستحق التميز.</p>
                </div>

                <div class="contact-info">
                    <p><strong>البريد الإلكتروني:</strong> <a
                            href="mailto:alhendal01@gmail.com">alhendal01@gmail.com</a></p>
                    <p><strong>رقم الهاتف:</strong> 0096563635575</p>
                </div>
                <p>&copy; 2025 جميع الحقوق محفوظة لـ "شاي الصعيد"</p>

            </div>


        </div>




    </section>


















</section>