<div class="parent bg-info p-0 m-0 pt">
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <h2 class="checkout-title">تفاصيل الدفع عند الاستلام</h2>

    <div class="form-group">
      <label for="address">العنوان <span class="text-danger">*</span></label>
      <input id="address" type="text" formControlName="address" class="form-control" />
      <div *ngIf="orderForm.get('address')?.invalid && orderForm.get('address')?.touched" class="text-danger">
        العنوان مطلوب.
      </div>
    </div>

    <div class="form-group">
      <label for="city">المدينة <span class="text-danger">*</span></label>
      <input id="city" type="text" formControlName="city" class="form-control" />
      <div *ngIf="orderForm.get('city')?.invalid && orderForm.get('city')?.touched" class="text-danger">
        المدينة مطلوبة.
      </div>
    </div>

    <div class="form-group">
      <label for="country">البلد <span class="text-danger">*</span></label>
      <input id="country" type="text" formControlName="country" class="form-control" />
      <div *ngIf="orderForm.get('country')?.invalid && orderForm.get('country')?.touched" class="text-danger">
        البلد مطلوب.
      </div>
    </div>

    <div class="form-group">
      <label for="phone">رقم الهاتف <span class="text-danger">*</span></label>
      <input id="phone" type="tel" formControlName="phoneNumber" class="form-control" />
      <div *ngIf="orderForm.get('phoneNumber')?.invalid && orderForm.get('phoneNumber')?.touched" class="text-danger">
        رقم الهاتف مطلوب ويجب أن يكون صحيحًا.
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPhone">تأكيد رقم الهاتف <span class="text-danger">*</span></label>
      <input id="confirmPhone" type="tel" formControlName="confirmPhone" class="form-control" />
      <div *ngIf="orderForm.get('confirmPhone')?.invalid && orderForm.get('confirmPhone')?.touched" class="text-danger">
        يجب أن يكون رقم الهاتف مؤكدًا.
      </div>
      <div *ngIf="phoneMismatch" class="text-danger">
        رقم الهاتف وتأكيد رقم الهاتف لا يتطابقان.
      </div>
    </div>

    <div class="form-group">
      <label for="paymentMethod">طريقة الدفع <span class="text-danger">*</span></label>
      <select id="paymentMethod" formControlName="paymentMethod" class="form-control">
        <option value="cash">الدفع عند الاستلام</option>
      </select>
      <div *ngIf="orderForm.get('paymentMethod')?.invalid && orderForm.get('paymentMethod')?.touched" class="text-danger">
        اختيار طريقة الدفع مطلوب.
      </div>
    </div>
    
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    

    <button type="submit" [disabled]="orderForm.invalid" class="btn btn-success mt-3">
      <div *ngIf="isAddingToCart" class="spinner-border spinner-border-sm me-2" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
      تأكيد الطلب
    </button>
  </form>
</div>
