.parent {
  background-color: #ffffff;
  /* اللون الأبيض ليتماشى مع صفحة All Orders */
  height: 100vh;
  width: 100%;
  background-image: url('../../../assets/img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* جعل الصورة تغطي العنصر بالكامل */
  background-position: center;
  /* محاذاة الصورة في المنتصف */
}



/* إعدادات النموذج */

.checkout-title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #4caf50;
}

form {
  max-width: 800px;
  margin:  auto;
  padding: 20px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  /* لضمان وجود مساحة أسفل المحتوى للزر */
  border: 1px solid greenyellow;
}

/* إعدادات المجموعات */
.form-group {
  margin-bottom: 20px;
}

/* إعدادات العناوين */
label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  display: block;
  margin-bottom: 8px;
}

/* إعدادات الحقول */
input.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* إعدادات التحقق من الأخطاء */
.text-danger {
  color: #d9534f;
  font-size: 14px;
  margin-top: 5px;
}

/* إعدادات الزر */
button[type="submit"] {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background-color: #388e3c;
  /* اللون الأخضر */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #2e7d32;
}

button[type="submit"]:disabled {
  background-color: #c8e6c9;
  cursor: not-allowed;
}



@media (max-width:765px) {

  form {
    max-width: 95%;
  }

}







.pt {
  padding-top: 48px!important;
}

@media (max-width:768px) {

  .pt {
    padding-top: 20px!important;
  }
}

