@import "~bootstrap-icons/font/bootstrap-icons.css";


.login-container {
  width: 25%;
  margin: 50px auto;
  // border: 1px solid #ddd;
  border-radius: 5px;
  // background-color: #f9f9f9;
  padding: 48px;
  background-color: rgba(255, 255, 255, 0.9);
}

.form-group {
  margin-bottom: 15px;
}

.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  color: #dc3545;
  font-size: 0.875em;
}

.auth {
  height: 100vh;
  background-image: url(../../../assets/Untitled-2-01.png);
  background-position: center;
  /* لضمان تمركز الصورة */
  background-size: cover;
  /* تمدد الصورة لتناسب العنصر بالكامل */
  background-repeat: no-repeat;
  /* لا تكرار للصورة */
}

.cover {
  width: 70%;
  height: 70%;
}

img {
  width: 100%;
  height: 100%;
}

.signupbutton {
  border: none;
  background: none;
  color: #0db741;
  /* لون النص */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
  transition: color 0.3s ease;
}

.signupbutton:hover {
  color: #087d2b;
  /* تغيير اللون عند التحويم */
  text-decoration: underline;
  /* إضافة خط تحت النص */
}







button:disabled {
  cursor: not-allowed;
  /* مؤشر غير قابل للنقر */
}


@media (max-width: 768px) {
  .login-container {
    width: 90%;
    margin: 50px auto;
    padding: 15px;
  }
}


@media (min-width:768px) and (max-width: 900px) {

  .login-container {
    width: 50%;
  }
}


.position-relative {
  position: relative;
}

.toggle-password {
  position: absolute;
  left: 10px; /* المسافة بين الأيقونة وحافة الحقل */
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

// .toggle-password:hover {
//   background: #e9ecef; /* لون خفيف عند التحويم */
// }

.toggle-password i {
  font-size: 18px;
  color: #6c757d;
}
