<div class="w-100 d-flex justify-content-center align-items-center auth">
    <div class="login-container ">
        <div class="rounder cover m-auto mb-4 mt-0 pt-0">
            <img src="./assets/logo.png" class="w-100 h-100" alt="">
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="">
            <!-- Error message from API -->
            <div *ngIf="apiErrorMessage" class="alert alert-danger">
                {{ apiErrorMessage }}
            </div>

            <!-- fullname Field -->
            <div class="form-group">
                <label for="fullname">الاسم بالكامل<span class="text-success">*</span></label>
                <input id="fullname" type="text" formControlName="fullname" class="form-control"
                    [ngClass]="{ 'is-invalid': signupForm.get('fullname')?.invalid && signupForm.get('fullname')?.touched }" />
                <div class="invalid-feedback"
                    *ngIf="signupForm.get('fullname')?.invalid && signupForm.get('fullname')?.touched">
                    Please enter a valid fullname.
                </div>
            </div>

            <!-- Email Field -->
            <div class="form-group">
                <label for="email">البريد الالكتروني <span class="text-success">*</span></label>
                <input id="email" type="email" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': signupForm.get('email')?.invalid && signupForm.get('email')?.touched }" />
                <div class="invalid-feedback"
                    *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
                    Please enter a valid email ending with @gmail.com.
                </div>
            </div>

            <div class="form-group position-relative">
                <label for="password">كلمة المرور <span class="text-success">*</span></label>
                <div class="position-relative">
                    <input id="password"  [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control pr-5"
                        [ngClass]="{ 'is-invalid': signupForm.get('password')?.invalid && signupForm.get('password')?.touched }" />
                    <button type="button" class="toggle-password" (click)="showPassword = !showPassword">
                        <!-- الأيقونة ستظهر عند النقر -->
                        <i class="bi" [ngClass]="showPassword ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'"></i>
                    </button>
                </div>
                <!-- رسالة الخطأ -->
                <div class="invalid-feedback" *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
                    كلمة المرور يجب أن تحتوي على 6 حروف على الأقل، وحرف صغير، ورقم.
                </div>
            </div>

            


            <!-- Submit Button -->
            <div class="d-flex align-items-center flex-column">
                <button type="submit" class="btn btn-success w-100" [disabled]="signupForm.invalid">
                    تسجيل الاشتراك
                    <div *ngIf="isAddingToCart" class="spinner-border spinner-border-sm me-2" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                <button type="button" class="signupbutton" [routerLink]="'/login'">هل لديك حساب بالفعل؟ سجل الدخول</button>
            </div>
        </form>
    </div>
</div>