/* You can add global styles to this file, and also import other style files */


.active-link{
    padding: 5px;
    background-color: red;
    border-radius: 8px; /* إضافة خط أسفل الرابط */
}


li{
    cursor: pointer;
}

i{
    cursor: pointer;
}